---
import Button from '@/components/Button.astro';
import WhatsappIcon from '@/icons/Whatsapp.astro';

interface Props {
  class: string,
  service: any
}

const { service, class: className, ...rest } = Astro.props;
const { name, description, Icon } = service;
---

<article class:list={['card', className]} {...rest}>
  <div class="card__face card__face--type1">
      <div class="card__content">
          <header class="card__header">
            <figure class="card__icon">
              <Icon />
            </figure>
            <h3 class="card__name">{ name }</h3>
          </header>
      </div>
  </div>
  <div class="card__face card__face--type2">
    <div class="card__content">
        <p>{ description }</p>
    </div>
    <Button label='Más información' variant='primary'><WhatsappIcon /></Button>
  </div>
</article>


<style>
  .card {
    position: relative;
    border-radius: 20px;
    height: 100%;
    transition: width 0.3s ease, margin 0.3s ease;
  }

  .card:hover {
    width: minmax(310px, 100%);
    margin-left: -55px;
    margin-right: -55px;
    z-index: 2;
    transition: width 0.3s ease, margin 0.3s ease;
  }

  .card__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    transition: 0.7s;
    z-index: 1;
    border-radius: 20px;
    padding: 24px;
  }

  .card:hover .card__header {
    border-radius: 20px 20px 0 0;
  }

  .card__header {
    background: var(--color-primary);
  }

  .card__icon {
    transition: 0.7s;
  }

  .card__name {
    color: var(--color-tertiary);
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
  }

  .card__face {
    height: 200px;
    transition: 0.5s;
    border-radius: 20px;
  }

  .card__face--type1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
  }

  .card:hover .card__face--type1 {
    transform: translateY(-80px);
    box-shadow: 0 -8px 16px rgba(0,0,0,0.2), 
                -8px 0 12px -2px rgba(0,0,0,0.1), 
                8px 0 12px -2px rgba(0,0,0,0.1);
    border-radius: 20px 20px 0 0;
    height: 200px;
  }

  .card__content {
    opacity: 1;
    transition: 0.5s;
  }

  .card:hover .card__face--type1 .card__content {
    opacity: 1;
  }

  .card__face--type2 {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-200px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }

  .card:hover .card__face--type2 {
    transform: translateY(-80px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2),
                -8px 0 12px -2px rgba(0,0,0,0.1),
                8px 0 12px -2px rgba(0,0,0,0.1);
  }

  .card__face--type2 .card__content p {
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-size: var(--text-sm-font-size);
    line-height: var(--text-sm-line-height);
  }

  @media (min-width: 1440px) {
    .card__name {
      font-size: var(--text-2xl-font-size);
      line-height: var(--text-2xl-line-height);
    }
  }

</style>