---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Testimonials from '@/sections/Testimonials.astro';
import WhyChooseUs from '@/sections/WhyChooseUs.astro';
import OurTeam from '@/sections/OurTeam.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<WhyChooseUs />
		<Testimonials />
		<OurTeam />
	</main>
</Layout>
