---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Testimonials from '@/sections/Testimonials.astro';
import WhyChooseUs from '@/sections/WhyChooseUs.astro';
import OurTeam from '@/sections/OurTeam.astro';
import Cta from '@/sections/Cta.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Cedens">
	<main>
		<Hero />
		<WhyChooseUs />
		<Testimonials />
		<OurTeam />
		<Cta />
		<Contact />
	</main>
</Layout>
