---
import MenuIcon from "@/icons/Menu.astro";
import Button from "./Button.astro";

  const navbarElements = [
    { text: 'Inicio' },
    { text: 'Nosotros' },
    { text: 'Servicios', href: '/servicios' },
    { text: 'Galería de sonrisas' },
  ];
---


  <nav>
    <picture>
      <source srcset="/img/logo-cedens.avif" type="image/avif">
      <img src="/img/logo-cedens.png" alt="Logo de Cedens">
    </picture>
    <ul>
      {
        navbarElements.map(({ text, href }) => (
          <li><a href={href}>{ text }</a></li>
        ))
      }
    </ul>
    <div class="button">
      <Button class:list={ ['button'] } label="Agenda una cita" variant="primary" />
    </div>
    <div class="menu-button">
      <MenuIcon />
    </div>
  </nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
  }
  ul {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  ul, .button  {
    display: none;
  }
  li {
    font-size: var(--text-base);
  }
  img, source {
    width: 180px;
    aspect-ratio: 4 / 1.5;
  }
  a {
    text-decoration: none;
    color: var(--text-color-primary);
  }
  a:hover {
    color: var(--color-primary);
  }

  @media (min-width: 960px) {
    nav {
      padding: 8px 64px;
    }
    ul {
      display: flex;
    }
    
    .button  {
      display: unset;
    }
    .menu-button {
      display: none;
    }
  }
</style>