---
import type { TeamMember } from "@/types/TeamMember";
import TeamMemberCard from "@/components/TeamMemberCard.astro";
import Carousel from "@/components/Carousel.astro";

const teamMembers: TeamMember[] = [
  {
    name: 'Víctor Mauricio Lopera Villa',
    imageUrl: '/img/team-members/victor.png',
  },
  {
    name: 'Juan Felipe Sosa Villa',
    imageUrl: '/img/team-members/felipe.png',
  },
  {
    name: 'Lina Marcela Pino Aristizabal',
    imageUrl: '/img/team-members/lina.png',
  },
  {
    name: 'Julián Esteban Giraldo Tobón',
    imageUrl: '/img/team-members/julian.png',
  },
  {
    name: 'Juan Felipe Sosa Villa',
    imageUrl: '/img/team-members/felipe.png',
  },
];
---

<section class="our-team-section">
  <div class="our-team-section__container">
    <h2 class="our-team-section__title">Nuestro equipo <span class="our-team-section__title our-team-section__title--accent">a tu servicio</span></h2>

  <Carousel slides={teamMembers} slideComponent={TeamMemberCard} />
  </div>
</section>


<style>
  .our-team-section {
    background-color: var(--background-color);
    padding: 32px 0;
    position: relative;
  }

  .our-team-section__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .our-team-section__title {
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
    margin-bottom: 32px;
    font-weight: 600;
    text-align: center;
  }

  .our-team-section__title--accent {
    color: var(--color-secondary);
  }

  @media (min-width: 960px) {
    .our-team-section {
      padding: 64px;
    }

    .our-team-section__title {
      font-size: var(--text-5xl-font-size);
      line-height: var(--text-5xl-line-height);
    }
  }
</style>