---
import type { Testimonial } from "@/types/Testimonial";
import TestimonialCard from "@/components/TestimonialCard.astro";
import Carousel from "@/components/Carousel.astro";

const testimonials: Testimonial[] = [
  {
    author: 'Maria Camila Diaz',
    content: '“Llevar a mis hijos al dentista solía ser una lucha, pero desde que descubrimos Cedens, todo ha cambiado. El equipo es increíblemente amable y paciente, y mis hijos ahora están emocionados por sus citas dentales. Estoy muy agradecida por el excelente cuidado que recibimos en cada visita”.',
    imageUrl: '/img/testimonials/camila.png',
    starsNumber: 5,
  },
  {
    author: 'Sergio Gonzáles',
    content: '“Visitar el dentista siempre me generaba ansiedad, pero el ambiente relajante y el personal comprensivo de Cedens cambiaron completamente mi perspectiva. Me explicaron cada procedimiento con detalle y mostraron una auténtica preocupación por mi comodidad”.',
    imageUrl: '/img/testimonials/sergio.png',
    starsNumber: 5,
  },
  {
    author: 'Ana Beltrán',
    content: '“Después de años buscando el dentista perfecto, finalmente encontré a Cedens. Su enfoque detallado y minucioso en la odontología me dio la confianza que necesitaba para realizar el tratamiento”.',
    imageUrl: '/img/testimonials/ana.png',
    starsNumber: 4.5,
  },
  {
    author: 'Maria Camila Diaz',
    content: '“Llevar a mis hijos al dentista solía ser una lucha, pero desde que descubrimos Cedens, todo ha cambiado. El equipo es increíblemente amable y paciente, y mis hijos ahora están emocionados por sus citas dentales. Estoy muy agradecida por el excelente cuidado que recibimos en cada visita”.',
    imageUrl: '/img/testimonials/camila.png',
    starsNumber: 5,
  },
  {
    author: 'Sergio Gonzáles',
    content: '“Visitar el dentista siempre me generaba ansiedad, pero el ambiente relajante y el personal comprensivo de Cedens cambiaron completamente mi perspectiva. Me explicaron cada procedimiento con detalle y mostraron una auténtica preocupación por mi comodidad”.',
    imageUrl: '/img/testimonials/sergio.png',
    starsNumber: 5,
  },
  {
    author: 'Ana Beltrán',
    content: '“Después de años buscando el dentista perfecto, finalmente encontré a Cedens. Su enfoque detallado y minucioso en la odontología me dio la confianza que necesitaba para realizar el tratamiento”.',
    imageUrl: '/img/testimonials/ana.png',
    starsNumber: 4.5,
  },
];
---

<section class="testimonials-section">
  <div class="testimonials-section__container">
    <h2 class="testimonials-section__title">Lo que <span class="testimonials-section__title testimonials-section__title--accent">nuestros pacientes</span> dicen</h2>


  <Carousel slides={testimonials} slideComponent={TestimonialCard} navigationColor="var(--color-tertiary)" />
</section>

<style>
  .testimonials-section {
    background-color: var(--color-primary);
    padding: 32px 0;
    position: relative;
  }

  .testimonials-section__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .testimonials-section__title {
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
    margin-bottom: 32px;
    font-weight: 600;
    text-align: center;
    color: var(--color-tertiary);
  }

  .testimonials-section__title--accent {
    color: var(--color-accent);
  }

  @media (min-width: 960px) {
    .testimonials-section {
      padding: 64px;
    }

    .testimonials-section__title {
      font-size: var(--text-5xl-font-size);
      line-height: var(--text-5xl-line-height);
    }
  }
</style>