---
import WhyChooseUsItem from "@/components/WhyChooseUsItem.astro";
import ClockShieldIcon from '@/icons/ClockShield.astro';
import HeartIcon from '@/icons/Heart.astro';
import ClipboardCheckIcon from '@/icons/ClipboardCheck.astro';
import MoodSmileIcon from '@/icons/MoodSmile.astro';
import CalendarMonthIcon from '@/icons/CalendarMonth.astro';
import CashIcon from '@/icons/Cash.astro';
---

<section class="why-choose-us-section">
  <h2 class="why-choose-us-section__title">¿Por qué <span class="why-choose-us-section__title--accent">escogernos</span>?</h2>
  <ul class="why-choose-us-section__list">
      <WhyChooseUsItem
        title="Experiencia comprobada"
        description="Más de 15 años de experiencia en proporcionar cuidados dentales de calidad."
      >
        <ClockShieldIcon />
      </WhyChooseUsItem>

      <WhyChooseUsItem
        title="Atención personalizada"
        description="Cada plan de tratamiento es personalizado para satisfacer tus necesidades y expectativas únicas."
      >
        <HeartIcon />
      </WhyChooseUsItem>

      <WhyChooseUsItem
        title="Servicio integral"
        description="Ofrecemos todos los servicios de salud oral de forma integral en un mismo lugar."
      >
        <ClipboardCheckIcon />
      </WhyChooseUsItem>

      <WhyChooseUsItem
        title="Satisfacción del paciente"
        description="Estamos comprometidos con la excelencia, nuestra prioridad es tu completa satisfacción."
      >
        <MoodSmileIcon />
      </WhyChooseUsItem>

      <WhyChooseUsItem
        title="Horarios flexibles"
        description="Ofrecemos horarios extendidos entre semana y citas los sábados para adaptarnos a tu vida ocupada."
      >
        <CalendarMonthIcon />
      </WhyChooseUsItem>

      <WhyChooseUsItem
        title="Métodos de pago"
        description="Múltiples opciones de transferencia para tu facilidad de pago."
      >
      <CashIcon />
    </WhyChooseUsItem>
  </ul>
</section>

<style>
  .why-choose-us-section {
    padding: 32px;
  }
  .why-choose-us-section__title {
    margin-bottom: 32px;
    font-size: var(--text-3xl-font-size);
    line-height: var(--text-3xl-line-height);
    font-weight: 600;
    text-align: center;
  }
  .why-choose-us-section__title--accent {
    color: var(--color-secondary);
  }
  .why-choose-us-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
  }

  @media (min-width: 960px) {
    .why-choose-us-section {
      padding-inline: 64px;
    }
    .why-choose-us-section__title {
      font-size: var(--text-5xl-font-size);
      line-height: var(--text-5xl-line-height);
    }
  }
</style>
